html {
	
	}
body { 
	
	}
p { 
	
	}
h3 { 
	
	}
a:link { 
	
	}
a:visited { 
	
	}
a:hover, a:focus, a:active { 
	
	}
abbr {
}	



.page-wrapper { 
	
	}

.intro { 
	
	}

header h1 { 
	
	}
header h2 { 
	
	}
header {
	
}

.summary {
	
	}
.summary p {
	
	}

.preamble {
	
	}
.supporting {	

	}

footer { 
	
	}
footer a:link, footer a:visited { 
	
	}

.sidebar {
	
	}
.sidebar .wrapper { 
	
	}
.sidebar h3.select { 
	
	}
.sidebar h3.archives { 
	
	}
.sidebar h3.resources { 
	
	}


.sidebar ul {
	
	}
.sidebar li {
	
	}
.sidebar li a:link {
	
	}
.sidebar li a:visited {
	
	}


.extra1 {
	
	}
